.education-main-div{
    width: 100%;
    height: auto;
}

.education-content{
    max-width: 1120px;
    margin: 0 auto 0 auto;
    padding: 100px 20px 50px 20px;
    display: flex;
    flex-direction: column;
}

.education-d1{
    text-align: center;
}

.education-d1 h1{
    margin: 0;
}

.education-d1 h3{
    margin: 0;
    font-weight: 500;
}

.education-d2{
    display: flex;
    margin: 70px 0 0 0;
}

.education-d2 .ldiv{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-d2 .ldiv img{
    width: 70%;
}

.education-d2 .rdiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education-d2 .rdiv .card{
    display: flex;
    gap: 20px;
    background: var(--card-bg);
    border: 1px solid var(--sub-card-outline);
    border-radius: 20px;
    padding: 20px 30px 20px 30px;
}

.education-d2 .rdiv .card img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.education-d2 .rdiv .card .sp1{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--card-text);
}

.education-d2 .rdiv .card .sp2{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: var(--card-text);
    margin-top: 5px;
}